.Profile_title
{
    height: 50vh;
}
.Profile_text
{
    background-color: rgba(34, 58, 102, 0.5);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}